<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Hello</h1>
        
        <form action="/addData" method="post">
            <input type="text" placeholder="Enter your name" name="name" id="">
            <input type="text" placeholder="Enter your subject" name="subject" id="">
            <input type="text" placeholder="Enter your city"  name="city" id="">
            <input type="submit" name="" id="">
        </form>
        
        <%student.map ((e,i)=>{ %>
            <p><%=e.name%></p>
            <p><%=e.subject%></p>
            <p><%=e.city%></p>
       <% })%>
</body>
</html>